/* .setcontainer {
  /* display: flex; *
  background-color: aliceblue;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  z-index: 1;
} */

.setpageheading {
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.setheading {
  display: flex;
  padding: 5px;
  margin: 0;
  color: #495057;
  align-items: center;
  font-size: 30px;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 600px) {
  .setheading {
    font-size: 25px;
  }
}
.setloginbackpaper {
  text-align: center;
  background-color: #ffffff;
  padding: 24px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  max-width: 510px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.setloginheadset {
  font-size: 15px;
  color: #524c4c;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.setErrorLabel {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 21px;
  margin-top: 10px;
  margin-right: 10px;
  color: #7f2121;
  margin-bottom: 20px;
  font-weight: 600;
  display: flex;
}

.d_flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}